* {
    margin: 0; padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
}
.center{
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}/*центрирование*/
.top{
    height: 1024px;
    background-image: url(img/back.png);
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover;
}
.top__title{
    color: #FFF;
    font-family: Montserrat;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 217px;
    padding-bottom: 32px;
    display: flex;
    flex-wrap: wrap;
}
.top__text{
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
    padding-bottom: 44px;
    &__mob{
        display: none;
    }
}
.top__button{
    border-radius: 30px;
    background: #9C0332;
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    width: 234px;
    height: 48px;
}
.top__button:hover{
    background: #EB443F;
    cursor: pointer;
}
.game-box{
    padding-top: 128px;
    padding-bottom: 128px;
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(3, 1fr);
    background: #000915;
}
.game__item{
    color: #FFF;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    width: 379px;
    height: 300px;
    position: relative;
}
.game__item:hover{
    border: 3px solid #44D2FF;
    border-radius: 16px;
    cursor: pointer;
    width: 100%;
}
.game__name{
    position: absolute;
    left: 32px;
    bottom: 32px;
}
.game_time{
    background: #000915;
    display: flex;
    gap: 135px;
    padding-bottom: 233px;
    padding-top: 233px;
    &_op{
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding-top: 49px;
    }
    &__title{
        color: #FFF;
        font-family: Montserrat;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        &_mob{
            display: none;
        }
    }
    
    &_text{
        color: #FFF;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px;
        width: 584px;
        &__mob{
            display: none;
        }
    }
    &__button{
        border-radius: 30px;
        background: #9C0332;
        width: 234px;
        height: 48px;
        color: #FFF;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    &__button:hover{
        background: #EB443F;
        cursor: pointer;}
    &_img{
        width: 485px;
        height: 333px;
    }
    
}
.game_word{
    background: #000915;
    padding-top: 239px;
    padding-bottom: 239px;
    display: flex;
    gap: 135px;
    &_op{
        gap: 32px;
        padding-top: 43px;
        display: flex;
        flex-direction: column;
    }
    &__title{
        color: #FFF;
        font-family: Montserrat;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;      
    }
    &_img{
        width: 481px;
        height: 322px;
        &_mob{
            display: none;
        }
    }
    &_text{
        color: #FFF;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px; 
        width: 588px;
        &__mob{
            display: none;
        }
    }
    &__button{
        border-radius: 30px;
        background: #9C0332;
        width: 240px;
        height: 48px;
        color: #FFF;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        &_mob{
            display: none;
        }
    }
    &__button:hover{
        background: #EB443F;
        cursor: pointer;}
}
.game_riddles{
    background-image: url(img/back_game.png);
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover;
    padding-top: 276px;
    padding-bottom: 288px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    &__title{
        color: #FFF;
        text-align: center;
        font-family: Montserrat;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    &_text{
        color: #FFF;
        text-align: center;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px; 
        &_mob{
            display: none;
        }
    }
    &_button{
        color: #FFF;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 234px;
        height: 48px;
        border-radius: 30px;
        background: #9C0332;
        display: block;
        margin: 0 auto;
    }
    &_button:hover{
        background: #EB443F;
        cursor: pointer;
    }
}
.footer{
    color: #FFF;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
    background: #000915;
}
@import 'mob' ;
