* {
    margin: 0; padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
}
.center{
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}/*центрирование*/
.top{
    height: 1024px;
    background-image: url(img/back.png);
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover;
}
.top__title{
    color: #FFF;
    font-family: Montserrat;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 217px;
    padding-bottom: 32px;
    display: flex;
    flex-wrap: wrap;
}
.top__text{
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
    padding-bottom: 44px;
}
.top__button{
    border-radius: 30px;
    background: #9C0332;
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    width: 234px;
    height: 48px;
}
.game-box{
    padding-top: 128px;
    padding-bottom: 128px;
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(3, 1fr);
    background: #000915;
}
.game__item{
    color: #FFF;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    width: 379px;
    height: 300px;
    position: relative;
}
.game__name{
    position: absolute;
    left: 32px;
    bottom: 32px;
}
@import 'mob' ;
